#forecast {
    position: absolute;
    left: -10%;
}

header {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./Assets/forecast.jpg);
}

h1 {
    margin-top: 50px;
    font-family:'Yeseva One', cursive;
    font-size: 70px;
    text-shadow: 2px 2px 5px #000000;
}

body {
    font-family:'Yomogi', cursive;
    background-color: rgb(151, 198, 245);
}

.card-body {
    background-color:rgb(46, 47, 48);
    border-radius: 10px;
}

.card-title {
    color: blanchedalmond;
}

.lis-group-item {
    color: floralwhite;
}

.hidden {
    display: none;
}